Add a book for <%= user.name %>
<%= form_for Book.new, url: user_books_path(user.id) do |f| %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <%= f.hidden_field :user_id, value: user.id %>
  <div class="actions">
    <%= f.submit "Save Book" %>
  </div>
<% end %>
