<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<% if @user.books.any? %>
  <p>
    <strong>Books:</strong>
    <ul>
      <% @user.books.each do |book| %>
        <li>
          <%= book.title %>
          <%= link_to 'Destroy', user_book_path(@user, book), method: :delete, data: { confirm: 'Are you sure?' } %>
        </li>
      <% end %>
    </ul>
  </p>
<% end %>

<%= render 'book_form', user: @user %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
